doctype html
html
	head
		title clase de jade
		meta(charset="utf-8")
	body
		header
			nav.nav.navbar-default
				.container-fluid.colclass
					.nav.navbar-header
						img(src="img/rocket.png")
						span Launch
					ul.nav.navbar-nav.menu-launch
						li
							a(href="#") Conferencias y livestreams
						li
							a(href="#") Trabajos
						li
							a(href="#") Artículos
						li
							a(href="#") Agenda
						li
							a(href="#") Preguntas frecuentes
					